#playButton {
  width: 100%;
  text-align: center;
  font-weight: bold;
  border: 2px solid $red-4;
  border-radius: 5px;
  background-color: $red-5;
  color: white;
  padding: 1em;
  margin-bottom: 1em;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;

  &:hover {
    background-color: $red-3;
  }
}

// color schemes
#melodyLoop {
  border: 2px solid $red-5;
  .title { color: $red-5; }
  .box { color: $red-1; }
  .empty-box { background-color: $red-2; }
  .filled-box { background-color: $red-5; }
  .row-label { color: $red-4; }
}

#melodyEffects {
  border: 2px solid $red-5;
  color: $red-5;
  background-color: $red-1;
}

#bassLoop {
  border: 2px solid $yellow-5;
  .title { color: $yellow-5; }
  .box { color: $yellow-1; }
  .empty-box { background-color: $yellow-2; }
  .filled-box { background-color: $yellow-5; }
  .row-label { color: $yellow-4; }
}

#bassEffects {
  border: 2px solid $yellow-5;
  color: $yellow-5;
  background-color: $yellow-1;
}

#drumLoop {
  border: 2px solid $blue-5;
  .title { color: $blue-5; }
  .box { color: $blue-1; }
  .empty-box { background-color: $blue-1; }
  .filled-box { background-color: $blue-3; }
  .row-label { color: $blue-4; }
}

#drumEffects {
  border: 2px solid $blue-5;
  color: $blue-5;
  background-color: $blue-1;
}

.loop {
  border: 2px solid $red-4;
  border-radius: 5px;
  color: $red-5;
  padding: 1em;
  margin-bottom: 1em;

  .title {
    display: inline-block;
    padding-left: 1em;
    font-weight: bold;
    padding-bottom: 1em;
    
    @include small {
      padding-left: 0;
    }
  }

  .btn {
    color: white;
    font-weight: bold;
    background-color: $red-3;
    border-color: $red-5;
  
    &:hover {
      color: white;
      background-color: $red-5;
      border-color: $red-5;
    }

    @include small {
      display: inline-block;
    }
  }
}

.no-boxes {
  margin-bottom: 0;
}

.btn.no-boxes {
  @include small {
    margin-bottom: 1em;
  }
}

.title.no-boxes {
  padding-bottom: 0;
}
//
// matrix boxes
//
.row-of-boxes {
  // padding-top: 0em;
}

.row-label {
  display: inline-block;
  color: $red-1;
  font-size: 1em;
  // width added in script
}

.box {
  margin-left: 0.1em;
  display: inline-block;
  padding: 0.6em 0.1em;
  border-radius: 3px;
  // width calculated in script
}

.empty-box {
  background-color: $red-1;
}

.filled-box {
  background-color: $red-4;
}

//
// slider
//

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  padding: 0;
  background: $red-1;
}

.slider-container {
  padding: 1em;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: $red-4;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: $red-4;
  cursor: pointer;
}
