// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #159957 !default;
$header-bg-color-secondary: #155799 !default;

// Text
$section-headings-color: #159957 !default;
$body-text-color: #606c71 !default;
$body-link-color: #2875a1 !default;
$blockquote-text-color: #819198 !default;

// Code
$code-bg-color: #f3f6fa !default;
$code-text-color: #567482 !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;

// color schemes
$red-1: #AD74A8;
$red-2: #90488A;
$red-3: #74276D;	// Main Primary color */
$red-4: #570E51;
$red-5: #3A0035;

$blue-1: #84ADD4;
$blue-2: #5688B8;
$blue-3: #376DA2;	// Main Primary color */
$blue-4: #1C5B98;
$blue-5: #104375;

$yellow-1: #FFE87C;
$yellow-2: #FADE52;
$yellow-3: #EBC928;	// Main Primary color */
$yellow-4: #C2A30E;
$yellow-5: #9A7F00;

@mixin large {
  @media screen and (min-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin medium {
  @media screen and (min-width: #{$medium-breakpoint}) and (max-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin small {
  @media screen and (max-width: #{$medium-breakpoint}) {
    @content;
  }
}
